body{
    background: linear-gradient(to right, #0037ff, rgb(169, 209, 255));
}
h1{
    font-size: 6em;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}
h2{
    font-size: 4em;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    position: absolute;
    left: 35%;
    top: 3cm; 
}
div {
    font-size: 1em;
    font-family: 'Kanit', sans-serif;
    height: auto;
    margin: auto;
    text-size-adjust: auto;
    text-align: left;
    text-transform: none;
}
h3{
    font-size: 3em;
    font-family: 'Kanit', sans-serif;
    text-align: left;
    position: absolute;
    left: 39cm;
    top: 2.5cm;
}


p{
    font-size: 1.5em;
    font-family: 'Kanit', sans-serif;
    text-align: left;
    position: absolute;
    left: 40cm;
    top: 5cm;
}
li{
    color: #ffffff;
    list-style: none;
    font-size: 3em;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

button {
    padding: 20px 50px;
    font-size: 3rem;
    cursor: pointer;
    border: 0px;
    background: transparent;
    position: relative;
    transition: all .2s;
    overflow: hidden;
    color: #fff;
    border-radius: 40px;
    box-shadow: 0px -0px 0px 0px rgba(143, 64, 248, .5), 0px 0px 0px 0px rgba(39, 200, 255, .5);
}
button::after {
    content: '';
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background-image: linear-gradient(225deg, #27d86c 0%, #26caf8 50%, #c625d0 100%);
    z-index: -1;
    transition: all .5s;
}
button:hover::after {
    transform: rotate(150deg);
  }
  
  button:hover {
    transform: translate(0,-6px);
    box-shadow: 10px -10px 25px 0px rgba(143, 64, 248, .25), -10px 10px 25px 0px rgba(39, 200, 255, .25);
}

#box1{
    width: 110px;
    height: 200px;
    position: absolute;
    top: 40%;
    left: 42%;

}
#box2{
    width: 110px;
    height: 200px;
    position: absolute;
    top: 51%;
    left: 43%;

}
#box3{
    width: 110px;
    height: 200px;
    position: absolute;
    top: 52%;
    left: 0%;

}
